:root {
  --font0: "Oxanium";
  --font1: "Oxanium";
  /* --font1: "VT323"; */
  --font2: "Oxanium";
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-link:hover {
  background-color: rgba(0, 218, 2, 0.5);
  /* text-decoration: underline #00da02; */
  color: white;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.active {
  /* background-color: #543c52; */
  background-color: rgba(0, 218, 2, 0.5);
}

h1,
h2,
.custom-aldo,
.nav-font {
  font-family: var(--font0), monospace;
}

h3,
p {
  font-family: var(--font2), monospace;
  color: white;
}

h2,
.nav-font {
  font-size: 200%;
  font-weight: 500;
}

h3 {
  font-size: 140%;
}

.green-text {
  color: rgb(0, 218, 2);
  text-shadow: 2px 2px 10px rgb(0, 104, 2);
}

.bold-text {
  /* font-size: 225%; */
  font-weight: 700;
}

.linespace-med {
  line-height: 140%;
}

a {
  color: aqua;
}

a:hover {
  color: hotpink;
}

hr.green {
  border-color: rgb(0, 218, 2);
}

.main-section {
  background-image: url("./images/code-screenshot-dark.png");
  background-size: cover;
  background-repeat: repeat-y;
}

.custom-aldo {
  /* font-size: 6vw; */
  font-size: 6vw;
  font-weight: 700;
  /* text-shadow: 2px 2px 10px rgb(0, 104, 2); */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.proj-list {
  font-weight: 800;
}

.logo {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .custom-aldo {
    font-size: 10vmin;
  }
  h2 {
    font-size: 50px;
  }
}
