/* $font1: "Fira Code";
$font2: "VT323"; */

:root {
  --font0: "Oxanium";
  --font1: "VT323";
  --font2: "VT323";
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (min-width: 600px) {
  .custom-aldo {
    font-size: 150%;
  }
  h2 {
    font-size: 50px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link:hover {
  background-color: rgba(0, 218, 2, 0.5);
  /* text-decoration: underline #00da02; */
  color: white;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.active {
  /* background-color: #543c52; */
  background-color: rgba(0, 218, 2, 0.5);
}

h1,
h2,
.custom-aldo,
.main-font,
.nav-font {
  font-family: var(--font0), monospace;
  color: rgb(0, 218, 2);
  text-shadow: 2px 2px 10px rgb(0, 104, 2);
}

h2,
.nav-font {
  font-size: 200%;
  font-weight: 500;
}

h2.bolder {
  font-size: 225%;
  font-weight: 700;
}

h3,
p {
  font-family: var(--font2), monospace;
  color: white;
}

hr.green {
  border-color: rgb(0, 218, 2);
}

.main-section {
  background-image: url("./images/code-screenshot-dark.png");
  background-size: cover;
  background-repeat: repeat-y;
}

.custom-aside {
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.custom-aldo {
  font-size: 6vw;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgb(0, 104, 2);
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.proj-list {
  font-weight: 800;
}

.logo {
  height: 50px;
  width: 50px;
}

@mixin .glitchCopy {
  content: attr(dataText);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .glitch {
  position: relative;
  animation: glitch-skew 1s infinite linear alternate-reverse;
} */
